<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Графы</title>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>            <!--  Подключение js -->
    <script src="{{ url_for('static', filename='js/algorithm_deep.js') }}"></script>
</head>
<body>
    
    <textarea rows="16" cols="40" id="textarea1"></textarea> 
    <button id="myButton">AAA</button>
</body>
</html>
